/* General reset and base styles */
html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    font-size: 100%;
    background-color: rgb(234, 229, 222);
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header styling */
#head {
    padding: 10px;
    text-align: center;
    background-color: rgb(234, 229, 222);
}

#head img {
    max-width: 20%; /* Makes the logo responsive */
    height: auto;
}

/* Navigation Bar Full Width */
nav {
    background-color: #392f23;
    width: 100%; /* Full width */
    position: sticky; /* Keeps it at the top while scrolling */
    top: 0;
    z-index: 1000; /* Keeps the navigation bar on top of other content */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: rgb(234, 229, 222);
    padding: 12px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

li a:hover {
    background-color: rgba(29, 26, 26, 0.947);
    transform: translateY(-3px); /* Slight lift effect */
}

/* Main Content */
main {
    width: 100%;
    background-color: rgba(192, 183, 173, 0.418);
    padding: 20px;
    margin-top: 0px; /* Adjusted to avoid overlap with fixed header */
    box-sizing: border-box;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

/* Contact Info Text */
#contactText {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Contact Image */
#MPlogo {
    width: 272px;
    height: 39px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer styling */
footer {
    background-color: rgb(234, 229, 222);
    text-align: center;
    color: #585656;
    padding: 20px 0;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

footer img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    transform: translateY(20px);
    opacity: 0;
    animation: slideUp 0.8s 0.5s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    h2 {
        font-size: 24px;
    }

    #contactText {
        font-size: 16px;
    }

    main {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 16px;
    }

    footer p {
        font-size: 16px;
    }

    #socialMedia {
        width: 70px;
        height: 70px;
    }
}
